*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #181818;
    display: flex;
    justify-content: center;
    color: #fff;
}

.container {
    margin-top: 30px;
    width: 700px;
    min-height: 600px;
    border: 3px solid rgb(220, 9, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #151515;
    border-radius: 20px;
}

.box1 {
    display: flex;
}

.title {
    margin-bottom: 40px;
}

#xx {
    margin-left: 20px;
}

.first {
    display: flex;
    flex-direction: column; 
    font-size: 20px;
    padding-right: 10px;
}

.second {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    /* border-left: rgb(220, 9, 9) 3px solid; */
    padding-left: 10px;
}

.p {
    align-items: flex-end;
}

.third {
    display: flex;
}

.box2 {
    width: 1px;
    display: flex;
    flex-direction: column;
}

.box2:nth-child(even) {
    border-right: 4px rgb(220, 9, 9) solid;
}

.box {
    display: flex;
}

.button {
    margin-bottom: 40px;
    color: #fff;
    width: 150px;
    height: 30px;
    background-color: #161616;
    margin-top: 20px;
    border: rgb(220, 9, 9) 2px solid;
    transition: 2s;
}

.button:hover {
    background: #141414;
}

.inputDesign {
    width: 300px;
    height: 50px;
    background: #161616;
    border: none;
    border-bottom: 3px solid rgb(220, 9, 9);
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.inputDesign::placeholder {
    color: #fff;
    font-size: 18px;
}

.t {
    margin-left: 50px;
}

.box3 {
    display: flex;
    margin-left: 20px;
    margin-right: 50px;
    flex-wrap: nowrap;
}

#x {
    margin-right: 60px;
    display: flex;
}

.box5 {
    display: flex;
}

